In [4]:
import pandas as pd
import numpy as np

In [87]:
odds=pd.read_csv('data/MLB_odds_2016.csv')

In [10]:
odds.drop(['Unnamed: 0','Unnamed: 1','Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5',
           'Unnamed: 6','Unnamed: 7','Unnamed: 8'],axis=1,inplace=True)

In [118]:
odds.drop(['Unnamed: 0'],axis=1,inplace=True)

In [119]:
odds.rename({'CUB':'CHC','CWS':'CHW','KAN':'KCR','SDG':'SDP','SFO':'SFG','TAM':'TBR','LOS':'LAD'},axis='columns')

        H  H_odds    A  A_odds
0     PIT  -119.0  STL   109.0
1     TAM  -121.0  TOR   111.0
2     KAN   110.0  NYM  -120.0
3     MIL   155.0  SFO  -175.0
4     ATL   160.0  WAS  -180.0
...   ...     ...  ...     ...
2422  TAM   140.0  TEX  -155.0
2423  HOU   114.0  LAA  -124.0
2424  MIN   225.0  CWS  -265.0
2425  CLE  -120.0  KAN   110.0
2426  DET  -153.0  ATL   138.0

[2427 rows x 4 columns]

In [18]:
#odds.to_csv('data/MLB_odds_2016.csv')

In [5]:
df=pd.read_csv('data/Season_2016.csv').drop('Unnamed: 0',axis=1)

In [25]:
df.head()

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_inherited_runners,A_Opp_inherited_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,home_win
0,PIT,34.209877,4.500000,8.802469,4.296296,4.191914,3.462963,8.234568,38.648148,0.252074,...,13.777778,13.111111,6.827160,0.006173,51.438272,1.440994,0.515528,-0.040438,-0.433333,1
1,KCR,34.271605,4.166667,8.950617,3.950617,3.969568,2.358025,7.555556,37.358025,0.256889,...,12.104938,13.851852,6.907407,0.000000,52.382716,1.493750,0.318750,0.035586,0.180864,1
2,TBR,33.833333,4.148148,8.228395,3.993827,4.000864,2.771605,9.148148,37.320988,0.237667,...,12.598765,13.808642,6.240741,0.006173,50.950617,1.543210,0.493827,0.008802,-0.098765,0
3,OAK,33.950617,4.030864,8.345679,3.913580,3.778580,2.728395,7.067901,37.172840,0.239728,...,11.833333,14.907407,7.006173,0.006173,51.216049,1.367089,0.360759,0.009222,0.217284,0
4,ARI,34.969136,4.641975,9.129630,4.376543,4.270370,2.858025,8.808642,38.641975,0.254932,...,13.969136,13.481481,7.308642,0.006173,47.030864,1.559006,0.552795,-0.033364,-0.499383,0

In [151]:
averaged_odds=pd.read_csv('data/mlb_avg_odds.csv')

In [152]:
avg=averaged_odds.iloc[:, 0:2]

In [153]:
avg.reset_index(inplace=True)

In [154]:
avg.set_index('Team',inplace=True)

In [155]:
odds.dropna(inplace=True)

In [156]:
avg=avg.drop(index='LAD')

In [157]:
avg.reset_index(inplace=True)

In [158]:
len(avg.Team.unique())

30

In [159]:
avg_odds=avg.groupby(['Team']).median()

In [161]:
avg_odds.drop('index',axis=1,inplace=True)

In [162]:
median_odds=avg_odds.rename({'Close':'Median_odds'},axis='columns')

In [163]:
median_odds

      Median_odds
Team
ARI         114.0
ATL         145.0
BAL        -107.0
BOS        -130.0
CIN         131.0
CLE        -133.0
COL         111.0
CUB        -176.0
CWS        -102.0
DET        -105.0
HOU        -124.0
KAN         109.0
LAA         110.0
LOS        -148.0
MIA        -103.0
MIL         126.0
MIN         121.0
NYM        -123.0
NYY        -105.0
OAK         115.0
PHI         130.0
PIT        -119.0
SDG         139.0
SEA        -116.0
SFO        -124.0
STL        -131.0
TAM        -101.0
TEX         101.0
TOR        -141.0
WAS        -155.0

In [189]:
median_odds.rename({'CUB':'CHC','CWS':'CHW','KAN':'KCR','SDG':'SDP','SFO':'SFG','TAM':'TBR'},axis='columns')

      Median_odds
Team
ARI         114.0
ATL         145.0
BAL        -107.0
BOS        -130.0
CIN         131.0
CLE        -133.0
COL         111.0
CUB        -176.0
CWS        -102.0
DET        -105.0
HOU        -124.0
KAN         109.0
LAA         110.0
LOS        -148.0
MIA        -103.0
MIL         126.0
MIN         121.0
NYM        -123.0
NYY        -105.0
OAK         115.0
PHI         130.0
PIT        -119.0
SDG         139.0
SEA        -116.0
SFO        -124.0
STL        -131.0
TAM        -101.0
TEX         101.0
TOR        -141.0
WAS        -155.0

In [173]:
median_odds

      Median_odds
Team
ARI         114.0
ATL         145.0
BAL        -107.0
BOS        -130.0
CIN         131.0
CLE        -133.0
COL         111.0
CUB        -176.0
CWS        -102.0
DET        -105.0
HOU        -124.0
KAN         109.0
LAA         110.0
LOS        -148.0
MIA        -103.0
MIL         126.0
MIN         121.0
NYM        -123.0
NYY        -105.0
OAK         115.0
PHI         130.0
PIT        -119.0
SDG         139.0
SEA        -116.0
SFO        -124.0
STL        -131.0
TAM        -101.0
TEX         101.0
TOR        -141.0
WAS        -155.0

In [174]:
median_odds.to_csv('data/MLB__median_odds_2016.csv')

In [165]:
df.head()

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_inherited_runners,A_Opp_inherited_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,home_win
0,PIT,34.209877,4.500000,8.802469,4.296296,4.191914,3.462963,8.234568,38.648148,0.252074,...,13.777778,13.111111,6.827160,0.006173,51.438272,1.440994,0.515528,-0.040438,-0.433333,1
1,KCR,34.271605,4.166667,8.950617,3.950617,3.969568,2.358025,7.555556,37.358025,0.256889,...,12.104938,13.851852,6.907407,0.000000,52.382716,1.493750,0.318750,0.035586,0.180864,1
2,TBR,33.833333,4.148148,8.228395,3.993827,4.000864,2.771605,9.148148,37.320988,0.237667,...,12.598765,13.808642,6.240741,0.006173,50.950617,1.543210,0.493827,0.008802,-0.098765,0
3,OAK,33.950617,4.030864,8.345679,3.913580,3.778580,2.728395,7.067901,37.172840,0.239728,...,11.833333,14.907407,7.006173,0.006173,51.216049,1.367089,0.360759,0.009222,0.217284,0
4,ARI,34.969136,4.641975,9.129630,4.376543,4.270370,2.858025,8.808642,38.641975,0.254932,...,13.969136,13.481481,7.308642,0.006173,47.030864,1.559006,0.552795,-0.033364,-0.499383,0

In [167]:
loop_list=list(df.H_name.unique())

In [168]:
for name in loop_list:
    np.where(df.H_name=name, df.H_win_probability_subtracted=)

['PIT',
 'KCR',
 'TBR',
 'OAK',
 'ARI',
 'SDP',
 'ATL',
 'MIL',
 'LAA',
 'CIN',
 'BAL',
 'TEX',
 'MIA',
 'CLE',
 'NYY',
 'WSN',
 'SFG',
 'DET',
 'NYM',
 'CHW',
 'COL',
 'TOR',
 'SEA',
 'BOS',
 'MIN',
 'PHI',
 'HOU',
 'STL',
 'CHC',
 'LAD']

In [183]:
median_odds.loc['ARI','Median_odds']

114.0

In [195]:
med_odds=median_odds.rename({'LOS':'LAD','CUB':'CHC','CWS':'CHW','KAN':'KCR','SDG':'SDP','SFO':'SFG','TAM':'TBR'})

In [196]:
med_odds.loc['LAD','Median_odds']

-148.0